@keyframes zoomInAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.zoom-in {
  
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: zoomInAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  
}

@keyframes slideInUpAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-up {
  
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: slideInUpAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  
  
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: fadeInAnimation 5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
 
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: shakeAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
 
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: fadeOutAnimation 5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

@keyframes rotateAnimation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotate {
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: rotateAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;

}

@keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: bounceAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}



@keyframes growAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.grow {
  
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: growAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  
}

@keyframes slideInLeftAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left {
  
  width: 150px;
  height: 150px;
  background-image: url('star6.png');
  background-size: cover;
  background-color: transparent;
  animation: slideInLeftAnimation 5s linear infinite;
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
