body {
    background-color: hsl(0, 0%, 0%);
    margin: 0; /* 여백 제거 */
    padding: 0; /* 패딩 제거 */
    overflow: hidden; /* 화면 고정 */
}


.snowflake {
    width: 30px;
    height: 10px;
    color: rgb(253, 253, 253);
    position: absolute;
    top: -8px;
    animation: fall 10s linear;
}

@keyframes fall{
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

#goToIndexButton {
    position: absolute;
    left: 50%;
    bottom: 100px; /* 원하는 만큼 조정하세요 */
    transform: translateX(-50%);
}

/*카드 css 속성*/

.container {
    width: 220px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .card {
    width: 220px;
    height: 310px;
    background-image: url(../images/spaceman.png);
    background-size: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 여기에 box-shadow 속성 추가 */
}

